<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853196150872-4glrqtr2n3ub9g6p1jpjkr9qjgqjduo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853196150872-4glrqtr2n3ub9g6p1jpjkr9qjgqjduo7</string>
	<key>API_KEY</key>
	<string>AIzaSyD9DA5uSJucctLma_bRrL7aXqg89OO9WgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>853196150872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.committed3d.caloriepic</string>
	<key>PROJECT_ID</key>
	<string>x-personal-trainer</string>
	<key>STORAGE_BUCKET</key>
	<string>x-personal-trainer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853196150872:ios:54569870cd5bfff5</string>
	<key>DATABASE_URL</key>
	<string>https://x-personal-trainer.firebaseio.com</string>
</dict>
</plist>